# This is a basic workflow to help you get started with Actions

name: Secret-token-leaks

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    
permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read
jobs:
  TruffleHog:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@v3.7.3
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
          args: --debug
          
